<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrainstroming.sfbrealtime.mapper.TestMapper">

    <select id="test" resultType="Map" >

        select BT.bus_no as name,
               BT.x_pos
                , BT.y_pos
        from BUS_TB BT
        UNION select UT.user_name as name, UT.x_pos, UT.y_pos
        from USER_TB UT;
    </select>

    <select id="getAzimuth" resultType="Map">
        select *
        from AZIMUTH_TB
        where id = 1
    </select>

    <update id="setAzimuth" parameterType="Map" >
        UPDATE AZIMUTH_TB
        SET azimuth = #{azimuth}
        where id =1;
    </update>


    <update id="busMoveForce" >

        update BUS_TB BT2 join
            (select BT.id as bus_no ,BRT2.bus_station_id as now_st_id,BRT2.next_station_id as next_st_id
            from BUS_ROUTE_TB BRT
            join BUS_TB BT
            on BRT.route_num = BT.id
            and BT.now_station_no = BRT.bus_station_id
            join BUS_ROUTE_TB BRT2
            on BRT.next_course_id = BRT2.id) A
        on BT2.id = A.bus_no

            SET BT2.now_station_no = A.now_st_id,
                BT2.next_station_no = A.next_st_id
        where BT2.id > 0;
        select * from BUS_TB;

    </update>

    <update id="resetBusStation">
        update BUS_TB
        set now_station_no = 3,
            next_station_no =4
    </update>

    <update id="resetService">
        update SERVICE_TB
        set status = 'GettingOff'
        where service_id >0;
    </update>

</mapper>


