<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrainstroming.sfbrealtime.mapper.TestMapper">

    <select id="test" resultType="Map" >

        select BT.bus_no as name,
               BT.x_pos
                , BT.y_pos
        from BUS_TB BT
        UNION select UT.user_name as name, UT.x_pos, UT.y_pos
        from USER_TB UT;

    </select>


</mapper>


