<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrainstroming.sfbrealtime.mapper.UserMapper">

    <update id="updateUserPosition" parameterType="Map">
        UPDATE USER_TB AS UT
        SET x_pos = #{x_pos} , y_pos = #{y_pos}
        WHERE UT.id = (select owner_id from UWB_MODULE_TB where uuid=#{uuid})
    </update>

    <select id="getUserPosition" parameterType="Map" resultType="Map">
        select UT.x_pos , UT.y_pos
        from USER_TB AS UT
                 JOIN UWB_MODULE_TB AS UMT
                      ON UT.id = UMT.owner_id
        where UMT.uuid = #{uuid}
    </select>
    
    <select id="getServiceInfo" parameterType="Map" resultType="Map">
        select  (BRT2.route_seq - BRT.route_seq) * 3  as left_time
             ,BRT2.route_seq - BRT.route_seq  as left_station
             ,BRT.route_seq as bus_now_station_id
             ,BRT2.route_seq as start_station_id
             ,BRT3.route_seq as dest_station_id
             ,BT.status as move_rate
             ,BT.x_pos as bus_x_pos
             ,BT.y_pos as bus_y_pos
             ,UT.x_pos as user_x_pos
             ,UT.y_pos as user_y_pos
             ,BST.latitude as station_y_pos
             ,BST.longitude as station_x_pos
             , SQRT(POW(BST.latitude - UT.y_pos,2) + POW(BST.longitude - UT.x_pos,2)) as user_station_dist
             ,BT.bus_color as bus_color
        from BUS_TB AS BT
                 join SERVICE_TB AS ST
                      on BT.id = ST.bus_id
                 join USER_TB UT
                      on UT.id = ST.user_id
                 join BUS_ROUTE_TB BRT
                      on BRT.bus_station_id = BT.now_station_no
                          and ST.bus_id = BRT.route_num
                 join BUS_ROUTE_TB BRT2
                      on BRT2.bus_station_id = ST.start_station_id
                          and ST.bus_id = BRT2.route_num
                 join  BUS_STATION_TB BST
                       on ST.start_station_id = BST.id
                 join BUS_ROUTE_TB BRT3
                      on BRT3.bus_station_id = ST.dest_station_id
                          and ST.bus_id = BRT3.route_num
        where service_id = #{service_id}
          and BRT.route_num = ST.bus_id;

    </select>


    <select id="getRouteInfoAfterGetOnBus" parameterType="Map" resultType="Map">
        select * from BUS_STATION_TB BST
        where id in (select bus_station_id
                     from SERVICE_TB AS ST
                              join BUS_ROUTE_TB AS BRT
                                   on ST.bus_id = BRT.route_num
                              join BUS_TB BT
                                   on BT.id = ST.bus_id
                     where service_id = #{service_id}
                       and (BRT.bus_station_id between GREATEST(BT.now_station_no,ST.start_station_id)
                         and ST.dest_station_id))
    </select>


    <select id="getWaitingStatus" parameterType="Map" resultType="String">
        select status
        from SERVICE_TB
        where service_id = #{service_id}
    </select>


    <insert id="registerBilndService" parameterType="Map" useGeneratedKeys="true" keyProperty="service_id">
        INSERT INTO SERVICE_TB (user_id, bus_id, status, start_station_id, dest_station_id)
        VALUES (1, #{bus_id}, 'findStation', #{depature_station_id}, #{destination_station_id})
    </insert>

    <update id="updateServieStatus" parameterType="Map">

        UPDATE SERVICE_TB
        SET status = #{status}
        where service_id = #{service_id}

    </update>

    <select id="getDistWithUserAndStation" resultType="double" parameterType="Map">
        select
            SQRT(POW(BST.latitude - UT.y_pos,2) + POW(BST.longitude - UT.x_pos,2))
        from SERVICE_TB ST
                 join BUS_STATION_TB BST
                      on ST.start_station_id = BST.id
                 join USER_TB UT
                      on ST.user_id = UT.id
        where service_id = #{service_id};
    </select>

    <select id="getDistWithUserAndBus" resultType="Map" parameterType="Map">
        select
            SQRT(POW(BT.y_pos - UT.y_pos,2) + POW(BT.x_pos - UT.x_pos,2)) as dist
            ,IF(BT.x_pos - UT.x_pos > 0,FALSE,TRUE) as is_user_infront
        from BUS_TB BT
                 join USER_TB UT
        where BT.id = #{bus_id};
    </select>


</mapper>


